<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Morey!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg">
  </head>
  <body>
  <section class="section">
    <img src="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg" alt="">
    <button onclick="window.location.href='/logout'" class="button is-danger" style="float: right; background-color: #fb8f1d; margin-left: 6px;">Logout</button>
    <!-- <button class="button" style="float: right; color: #fb8f1d;" >Hello Admin!</button> -->

    <!-- <a style="float: right; color: #fb8f1d; margin-left: 6px;" href="/transports" class="button">Transports</a> 
    <a style="float: right; color: #fb8f1d; margin-left: 6px;" href="/hotels" class="button">Hotels</a>
    <a style="float: right; color: #fb8f1d; " href="/" class="button">Home</a> -->

    <div class="container">
      <h1 class="title">
        Admin Dashboard
      </h1>

      <script>
        function hide(id) {
          if (id=='hotel'){
            document.getElementById('hotel-box').style.display='block';
            document.getElementById('transport-box').style.display='none';
          }
          else{
            document.getElementById('hotel-box').style.display='none';
            document.getElementById('transport-box').style.display='block';
          }
          
        }
      </script>
      
      <!-- Main container -->
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <p class="level-item"><a onclick="hide(this.id)" id="hotel">Hotel Bookings</a></p>
          <p class="level-item"><a onclick="hide(this.id)" id="transport">Transport Bookings</a></p>
          <!-- <p class="level-item"><a>Deleted</a></p> -->
          <!-- <p class="level-item"><a class="button is-success">New</a></p> -->
        </div>

        <!-- Right side -->
        <div class="level-right">

          <div class="level-item">
            <div class="field has-addons">
              <p class="control">
                <input class="input" type="text" placeholder="Find booking">
              </p>
              <p class="control">
                <button class="button">
                  Search
                </button>
              </p>
            </div>
          </div>
        </div>
      </nav>
      <hr>
       
      <div class="box" id="hotel-box" >
        <h1 class="subtitle"> <b>Hotel Bookings</b></h1>
        <hr>
        <!-- Table starts from here -->
       <table class="table is-striped">
        <thead>
          <tr>
            <!-- <th><abbr title="Position">Book ID</abbr></th> -->
            <th>Booking ID</th>
            <th>User ID</th>
            <th>User Phone</th>
            <th>User Email</th>
            <th>Name</th>
            <th>Location</th>
            <th>Hotel Phone</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for item in hotels %}
              <tr>
                <th>#MBH00{{ item.booking_id }}</th>
                <td>{{ item.user_id }}</td>
                <td>{{ item.user_phone }}</td>
                <td>{{ item.user_email }}</td>
                <td>{{ item.hotel_name }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.date}}</td>
                <td>RM {{ item.price }}</td>
                <td>{{ item.booking_status }}</td>
                <td>
                  <div class="buttons">
                    <a class="button is-success is-light is-small" href="/admin/update/hotel_bookings/{{item.booking_id}}/accepted">Accept</a>
                    <!-- <button class="button is-success is-light is-small">Accept</button> -->
                    <a class="button is-danger is-light is-small" href="/admin/update/hotel_bookings/{{item.booking_id}}/rejected">Reject</a>
                  </div>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>


      </div>

      <div class="box" id="transport-box" style="display: none;">
        <h1 class="subtitle"> <b>Transport Bookings</b></h1>
        <hr>
        <!-- Table starts from here -->
       <table class="table is-striped">
        <thead>
          <tr>
            <!-- <th><abbr title="Position">Book ID</abbr></th> -->
            <th>Booking ID</th>
            <th>User ID</th>
            <th>User Phone</th>
            <th>User Email</th>
            <th>Name</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          {% for item in transports %}
              <tr>
                <th>#MBT00{{ item.booking_id }}</th>
                <td>{{ item.user_id }}</td>
                <td>{{ item.user_phone }}</td>
                <td>{{ item.user_email }}</td>
                <td>{{ item.transport_name }}</td>
                <td>{{ item.pickup }}</td>
                <td>{{ item.dropoff }}</td>
                <td>{{ item.time }}</td>
                <td>RM {{ item.price }}</td>
                <td>{{ item.booking_status }}</td>
                <td>
                  <div class="buttons">
                    <a class="button is-success is-light is-small" href="/admin/update/{{ttable}}/{{item.booking_id}}/accepted">Accept</a>
                    <!-- <button class="button is-success is-light is-small">Accept</button> -->
                    <a class="button is-danger is-light is-small" href="/admin/update/{{ttable}}/{{item.booking_id}}/rejected">Reject</a>
              
                  </div>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>


      </div>
      
    </div>
  </section>
  </body>
</html>