<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotels | Morey - Tour and Travel</title>
    <link rel="icon" type="image/png" href="/static/assets/img/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
</head>
<body>

<!--Header-->
<header>
    <div class="container">
        <nav>
            <div class="nav-logo">
                <img src="/static/assets/img/logo.svg" alt="">
            </div>
            <div class="nav-right">
                <div class="nav-close-icon"></div>
                <ul class="nav-menu">
                    <li class="nav-item ">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hotels" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a href="/transports" class="nav-link">Transport</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                </ul>
                {% if glob == [] %}
                <div class="nav-form">
                    <a href="/login" class="btn btn-login">Login</a>
                    <a href="/register" class="btn btn-register">Register</a>
                </div>
                {% else %}
                <div class="nav-form">
                    <a href="/booking" class="btn btn-login">My Bookings</a>
                    <a href="/logout" class="btn btn-register">Logout</a>
                </div>
                {% endif %}
            </div>
            <div class="hamburger-menu-wrap">
                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--End Header-->

<!-- modal start -->
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <div class="box" style="margin-top: 20%;">
        <h1 class="title">Booking Summary</h1>
        <hr>
        
        <h4 class="title is-4">Please press confirm for booking</h4>
        
          <!-- <h3 class="title is-3">Total Price: RM </h3> -->
        
        <hr>
        <form action="/booking/hotel" method="POST">
            <span name="info" id="info"></span>
            <input type="hidden" name="name" id="name">
            <input type="hidden" name="location" id="location">
            <input type="hidden" name="phone" id="phone">
            <input type="hidden" name="price" id="price">
            <label for="booking_date">Booking Date:</label>
            <input type="date" id="booking_date" name="booking_date">

            <br>
            
            <button type="submit" class="button is-success">Confirm</button><br>
        </form>
        <button class="button is-link is-light" onclick="document.getElementById('modal').style.display='none'">Cancel</button>
                
    </div>
        
    <button onclick="document.getElementById('modal').style.display='none'" class="modal-close is-large" aria-label="close"></button>


      </div>
    </div>
    <button onclick="document.getElementById('modal').style.display='none'" class="modal-close is-large" aria-label="close"></button>
  </div>
<!-- modal end -->

<!-- Hero -->
<section class="section">
    <div class="container">
        <div class="hero-content">
            <p class="title is-1">Hotels</p>
        </div>
        <br>
        <form action="/hotels" method="POST">
            <div class="form-groups">
                <!-- <div class="form-control">
                    <div class="custom-select-wrapper">
                       <div class="custom-select" >
                          <div class="custom-select__trigger">
                             <span>Location</span>
                             <div class="arrow"><</div>
                          </div>
                          <div class="custom-options"  name="hotel_name">
                             <span class="custom-option selected" value="ppp">Location</span>
                             {% for hotel in regions %}
                             <option class="custom-option" value="{{ hotel }}">{{ hotel }}</option>
                             {% endfor %}
                          </div>
                       </div>
                    </div>
                 </div> -->
                <div class="form-control">
                    <div class="select is-large">
                        <select name="hotel_name">
                          <option value="">Location</option>
                          {% for hotel in regions %}
                                <option value="{{ hotel }}">{{ hotel }}</option>
                            {% endfor %}
                        </select>
                      </div>

                      &nbsp;&nbsp;&nbsp;

                      <div class="select is-large">
                        <select name="hotel_price">
                          <option value="0 to 999999999">Price Range</option>
                          <option  value="0 to 250">Below RM 250</option>
                            <option  value="250 to 350">RM 250 to RM 350</option>
                            <option  value="350 to 400">RM 350 to RM 400</option>
                            <option  value="400 to 999999999">Above RM 400</option>
                                
                        </select>
                    </div>
                </div>

                <!-- <div class="form-control">
                    <div class="select is-large">
                        <select name="hotel_price">
                          <option>Price Range</option>
                          <option  value="0 to 250">Below RM 250</option>
                            <option  value="250 to 350">RM 250 to RM 350</option>
                            <option  value="350 to 400">RM 350 to RM 400</option>
                            <option  value="400 to 999999999">Above RM 400</option>
                                
                        </select>
                    </div>
                </div> -->


                <!-- <div class="form-control">
                    <div class="custom-select-wrapper">
                        <div class="custom-select">
                            <div class="custom-select__trigger"><span>Price Range</span>
                                <div class="arrow"><</div>
                            </div>
                            <div class="custom-options">
                                <span class="custom-option selected" data-value="">Price Range</span>
                                <span class="custom-option" data-value="0 to 250" name="hotel_price">Below RM 250</span>
                                <span class="custom-option" data-value="250 to 350" name="hotel_price">RM 250 to RM 350</span>
                                <span class="custom-option" data-value="350 to 400" name="hotel_price">RM 350 to RM 400</span>
                                <span class="custom-option" data-value="400 to 999999999" name="hotel_price">Above RM 400</span>
                                
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <button type="submit" class="btn btn-explore">Search</button>
        </form>
        <hr>
        {% for hotel in hotels %}
        
            <div class="box" id="{{hotel.hotel_id}}">
                    <div class="section-content">
                        <div class="">
                            <img style="max-width: 80%; width: 350px;" src="{{ hotel.hotel_photo }}" alt="">
                        </div>
                        <div class="">
                            <h3  class=" name-p section-title">{{ hotel.hotel_name }}</h3>
                            <hr>
                            <p  class="full p-description">
                                Location: {{ hotel.hotel_address }} <br>
                                Phone: {{ hotel.hotel_phone }} <br>
                                Price Per Night: RM {{ hotel.hotel_price }} <br>
                            </p>

                            
                            <p hidden  class="p-description-">Location: <span id="location-p">{{ hotel.hotel_address }}</span></p>
                            <p hidden  class="p-description"> Phone: <span id="phone-p">{{ hotel.hotel_phone }}</span> </p>
                            <p hidden  class="p-description">Price: RM <span id="price-p">{{ hotel.hotel_price }}</span></p>

                            <!-- <a href="#" class="btn btn-explore">Learn more</a> -->
                            <button onclick="func(this.id)" id="{{hotel.hotel_id}}" class="open-modal button is-large" style="background-color: #fb8f1d; color: #ffffff;">Book</button>
                        </div>
                    </div>
            </div>
            {% endfor %}
            

    </div>
</section>
<!--End Hero -->
<script type="text/javascript">
function func(id){
    // var str = "#"+id+" #location-p";
    // console.log($(str).html())
    var info = $("#"+id+" .full").html();
    console.log(info)
    var name = $("#"+id+" .name-p").html();
    var location = $("#"+id+" #location-p").html();
    var phone = $("#"+id+" #phone-p").html();
    var price = $("#"+id+" #price-p").html();

    $('#info').html( info );
    $('#name').val( name );
    $('#location').val( location );
    $('#phone').val( phone );
    $('#price').val( price );
        
    document.getElementById('modal').style.display='block'
}
</script>
<!-- <script type="text/javascript">
    $(document).on("click", ".open-modal", function () {
        var info = $(".p-description").html();
        var name = $("#name-p").html();
        var location = $("#location-p").html();
        var phone = $("#phone-p").html();
        var price = $("#price-p").html();

        // console.log(pickup, dropoff, time, price)

        $('#info').html( info );
        $('#name').val( name );
        $('#location').val( location );
        $('#phone').val( phone );
        $('#price').val( price );
        
        document.getElementById('modal').style.display='block'
    });
    
</script> -->


<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-text">
                <img src="/static/assets/img/logo.svg" alt="" class="footer-icon">
                <p class="footer-desc">
                    Plan and book your perfect trip with
                    expert advice, travel tips destination
                    information from us
                </p>
                <p class="copyright">©2020 Thousand Sunny. All rights reserved</p>
            </div>
            <div class="nav-footer">
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Destinations</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Africa</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Antarctica</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Asia</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Europe</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">America</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Shop</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Destination Guides</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Pictorial & Gifts</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Special Offers</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Delivery Times</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Interests</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Adventure Travel</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Art And Culture</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Wildlife And Nature</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Family Holidays</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Food And Drink</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-media">
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/twitter.svg" class="icon" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/facebook.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/instagram.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/linkedin.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/youtube.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!--Footer-->

<div class="arrow-up"><i><</i></div>


<script src="/static/assets/js/main.js"></script>
</body>
</html>