<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Morey!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg">
  </head>
  <body>
  <section class="section">
    <div class="container column is-3 is-offset-one-fifth">
      <br><br><br><br>
    <h1 class="title">
      <a href="/">
        <img src="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg" alt="">
        Go Home
      </a>
    </h1>
    <p class="subtitle" >
      Happy Travel with <strong style="color: #fb8f1d;">Morey!</strong>
    </p>
    <form action="/login" method="POST">
      <div class="box">
        <div class="field">
            <p class="control">
              <input class="input" type="username" placeholder="Username" name="username">
            </p>
          </div>
            <div class="field">
              <p class="control">
                <input class="input" type="password" placeholder="Password" name="password">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <a href="">
                  <button type="submit" class="button" style="color: #fb8f1d; border: 1px solid #fb8f1d;">
                    Login
                  </button>
                </a>
                
              </p>
            </div>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </form>
      </div>
    </div>
  </section>
  </body>
</html>