<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register | Morey!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg">

  </head>
  <body>
  <section class="section">
    <div class="container column is-3 is-offset-one-fifth">
        <br><br><br><br>
      <h1 class="title">
        <img src="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg" alt="">
        Hello There!
      </h1>
      <p class="subtitle" >
        Happy Travel with <strong style="color: #fb8f1d;">Morey!</strong>
      </p>

      <div class="box">
        <div class="field">
            <p class="control">
              <input class="input" type="username" placeholder="Username" name="username">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" type="email" placeholder="Email" name="email">
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" type="phone" placeholder="Phone" name="phone">
            </p>
          </div>
            <div class="field">
              <p class="control">
                <input class="input" type="password" placeholder="Password" name="password1">
              </p>
            </div>
            <div class="field">
                <p class="control">
                  <input class="input" type="password" placeholder="Confirm Password" name="password2">
                </p>
              </div>
            <div class="field">
              <p class="control">
                <button class="button" style="color: #ffffff; background-color: #fb8f1d;">
                  Register
                </button>
              </p>
            </div>
            <p>Already Have an Account? <a href="login.html">Login</a></p>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>