<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transports | Morey - Tour and Travel</title>
    <link rel="icon" type="image/png" href="/static/assets/img/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- script-passing value to modal -->
    
    <!-- script-passing value to modal -->

</head>
<body>

<!--Header-->
<header>
    <div class="container">
        <nav>
            <div class="nav-logo">
                <img src="/static/assets/img/logo.svg" alt="">
            </div>
            <div class="nav-right">
                <div class="nav-close-icon"></div>
                <ul class="nav-menu">
                    <li class="nav-item ">
                        <a href="/" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hotels" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a href="/transports" class="nav-link">Transports</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                </ul>
                {% if glob_name == [] %}
                <div class="nav-form">
                    <a href="/login" class="btn btn-login">Login</a>
                    <a href="/register" class="btn btn-register">Register</a>
                </div>
                {% else %}
                <div class="nav-form">
                    <a href="/booking" class="btn btn-login">My Bookings</a>
                    <a href="/logout" class="btn btn-register">Logout</a>
                </div>
                {% endif %}
            </div>
            <div class="hamburger-menu-wrap">
                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--End Header-->

<!-- modal start -->
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <div class="box" style="margin-top: 20%;">
        <h1 class="title">Booking Summary</h1>
        <hr>
        
        <h4 class="title is-4">Please press confirm for booking</h4>
        
          <!-- <h3 class="title is-3">Total Price: RM </h3> -->
        
        <hr>
        <form action="/booking/transport" method="POST">
            <span name="info" id="info"></span>
            <input type="hidden" name="name" id="name">
            <input type="hidden" name="pickup" id="pickup">
            <input type="hidden" name="dropoff" id="dropoff">
            <input type="hidden"  name="time" id="time">
            <input type="hidden" name="price" id="price">
            <input type="hidden" name="direction" id="direction">
            <label for="booking_date">Booking Date: </label>
            <input type="date" id="booking_date" name="booking_date">
            <label for="no_persons">Persons: </label>
            <input  name="no_persons" id="no_persons">

            <br>
            
            <button type="submit" class="button is-success">Confirm</button><br>
        </form>
        <button class="button is-link is-light" onclick="document.getElementById('modal').style.display='none'">Cancel</button>
                
    </div>
        
    <button onclick="document.getElementById('modal').style.display='none'" class="modal-close is-large" aria-label="close"></button>


      </div>
    </div>
    <button onclick="document.getElementById('modal').style.display='none'" class="modal-close is-large" aria-label="close"></button>
  </div>
<!-- modal end -->

<!-- Hero -->
<section class="section">
    <div class="container">
        <div class="hero-content">
            <p class="title is-1">Transports</p>
            <br>
        </div>
        <form action="/transports" method="POST">
            <div class="form-groups">
                <div class="form-control">
                    <div class="select is-large">
                        <select name="pickup">
                          <option value="">Pickup</option>
                          {% for item in pickup %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                      </div>

                      &nbsp;&nbsp;&nbsp;
                      <div class="select is-large">
                        <select name="dropoff">
                          <option value="">Dropoff</option>
                          {% for item in dropoff %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      &nbsp;&nbsp;&nbsp;

                      <div class="select is-large">
                        <select name="type">
                          <option value="">Transport Type</option>
                          <option  value="Bus">Bus</option>
                            <option  value="Train">Train</option>
                            <!-- <option  value="350 to 400">RM 350 to RM 400</option>
                            <option  value="400 to 999999999">Above RM 400</option> -->
                                
                        </select>
                    </div>

                    &nbsp;&nbsp;&nbsp;

                    <div class="select is-large">
                      <select name="direction">
                        <option value="">Direction</option>
                        <option  value="Oneway">Oneway</option>
                          <option  value="Twoway">Twoway</option>
                          <!-- <option  value="350 to 400">RM 350 to RM 400</option>
                          <option  value="400 to 999999999">Above RM 400</option> -->
                              
                      </select>
                  </div>
                </div>
            </div>
            <button type="submit" class="btn btn-explore">Search</button>
        </form>
        <hr>
        {% for tp in transports %}
        
            <div class="box" id="{{tp.transport_id}}">
                    <div class="section-content">
                        <div class="">
                            <img style="max-width: 80%; width: 350px;" src="{{ tp.transport_photo }}" alt="">
                        </div>
                        <div class="">
                            <h3 id="name-p" class="section-title">{{ tp.operator_name }}</h3>
                            <hr>
                            
                            <p class="full p-description">
                                Pickup Point: {{ tp.pickup }}<br>
                                Dropoff Point: {{ tp.dropoff }} <br>
                                Time: {{ tp.time }} <br>
                                Price: RM {{ tp.price }} <br>
                                Direction: {{ tp.direction }} <br>
                            </p>
                            <p hidden class="p-description">Pickup Point: <span id="pickup-p">{{ tp.pickup }}</span></p>
                            <p hidden class="p-description"> Dropoff Point: <span id="dropoff-p">{{ tp.dropoff }}</span> </p>
                            <p hidden class="p-description">Time: <span id="time-p">{{ tp.time }}</span></p>
                            <p hidden class="p-description">Price: RM <span id="price-p">{{ tp.price }}</span></p>
                            <p hidden class="p-description">Direction: <span id="direction-p">{{ tp.direction }}</span></p>

                            <!-- <a href="#" class="btn btn-explore">Learn more</a> -->
                            <button onclick="func(this.id)" id="{{tp.transport_id}}" class="open-modal button is-large" style="background-color: #fb8f1d; color: #ffffff;">Book</button>
                            
                        
                        </div>
                    </div>
            </div>
            {% endfor %}
    </div>
</section>
<!--End Hero -->


<script type="text/javascript">
    function func(id) {
        var info = $("#"+id+" .full").html();
        var name = $("#"+id+" #name-p").html();
        var pickup = $("#"+id+" #pickup-p").html();
        var dropoff = $("#"+id+" #dropoff-p").html();
        var time = $("#"+id+" #time-p").html();
        var price = $("#"+id+" #price-p").html();
        var direction = $("#"+id+" #direction-p").html();
        // console.log(pickup, dropoff, time, price)

        $('#info').html( info );
        $('#name').val( name );
        $('#pickup').val( pickup );
        $('#dropoff').val( dropoff );
        $('#time').val( time );
        $('#price').val( price );
        $('#direction').val( direction );
        document.getElementById('modal').style.display='block'
    };
    
</script>


<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-text">
                <img src="/static/assets/img/logo.svg" alt="" class="footer-icon">
                <p class="footer-desc">
                    Plan and book your perfect trip with
                    expert advice, travel tips destination
                    information from us
                </p>
                <p class="copyright">©2020 Thousand Sunny. All rights reserved</p>
            </div>
            <div class="nav-footer">
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Destinations</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Africa</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Antarctica</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Asia</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Europe</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">America</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Shop</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Destination Guides</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Pictorial & Gifts</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Special Offers</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Delivery Times</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Interests</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Adventure Travel</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Art And Culture</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Wildlife And Nature</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Family Holidays</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Food And Drink</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-media">
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/twitter.svg" class="icon" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/facebook.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/instagram.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/linkedin.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/youtube.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!--Footer-->

<div class="arrow-up"><i><</i></div>


<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="/static/assets/js/main.js"></script>
</body>
</html>