<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transports | Morey - Tour and Travel</title>
    <link rel="icon" type="image/png" href="/static/assets/img/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
</head>
<body>

<!--Header-->
<header>
    <div class="container">
        <nav>
            <div class="nav-logo">
                <img src="/static/assets/img/logo.svg" alt="">
            </div>
            <div class="nav-right">
                <div class="nav-close-icon"></div>
                <ul class="nav-menu">
                    <li class="nav-item ">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hotels" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a href="/transport" class="nav-link">Transport</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                </ul>
                {% if glob == [] %}
                <div class="nav-form">
                    <a href="/login" class="btn btn-login">Login</a>
                    <a href="/register" class="btn btn-register">Register</a>
                </div>
                {% else %}
                <div class="nav-form">
                    <a href="/mybookings" class="btn btn-login">My Bookings</a>
                    <a href="/logout" class="btn btn-register">Logout</a>
                </div>
                {% endif %}
            </div>
            <div class="hamburger-menu-wrap">
                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--End Header-->

<!-- Hero -->
<section class="section">
    <div class="container">
        <div class="hero-content">
            <p class="title is-1">Transports</p>
            <br>
        </div>
        <form action="/transports" method="POST">
            <div class="form-groups">
                <div class="form-control">
                    <div class="select is-large">
                        <select name="pickup">
                          <option value="">Pickup</option>
                          {% for item in pickup %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                      </div>

                      &nbsp;&nbsp;&nbsp;
                      <div class="select is-large">
                        <select name="dropoff">
                          <option value="">Dropoff</option>
                          {% for item in dropoff %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      &nbsp;&nbsp;&nbsp;

                      <div class="select is-large">
                        <select name="type">
                          <option value="">Transport Type</option>
                          <option  value="Bus">Bus</option>
                            <option  value="Train">Train</option>
                            <!-- <option  value="350 to 400">RM 350 to RM 400</option>
                            <option  value="400 to 999999999">Above RM 400</option> -->
                                
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-explore">Search</button>
        </form>
        <hr>
        {% for tp in transports %}
        
            <div class="box">
                    <div class="section-content">
                        <div class="">
                            <img style="max-width: 80%; width: 350px;" src="{{ tp.transport_photo }}" alt="">
                        </div>
                        <div class="">
                            <h3 class="section-title">{{ tp.operator_name }}</h3>
                            <hr>
                            <p class="p-description">
                                Pickup Point: {{ tp.pickup }} <br>
                                Dropoff Point: {{ tp.dropoff }} <br>
                                Time: RM {{ tp.time }} <br>
                                Price: {{ tp.price }} <br>
                            </p>
                            <!-- <a href="#" class="btn btn-explore">Learn more</a> -->
                            <button class="button is-large" style="background-color: #fb8f1d; color: #ffffff;">Book</button>
                        </div>
                    </div>
            </div>
            {% endfor %}
    </div>
</section>
<!--End Hero -->




<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-text">
                <img src="/static/assets/img/logo.svg" alt="" class="footer-icon">
                <p class="footer-desc">
                    Plan and book your perfect trip with
                    expert advice, travel tips destination
                    information from us
                </p>
                <p class="copyright">©2020 Thousand Sunny. All rights reserved</p>
            </div>
            <div class="nav-footer">
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Destinations</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Africa</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Antarctica</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Asia</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Europe</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">America</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Shop</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Destination Guides</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Pictorial & Gifts</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Special Offers</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Delivery Times</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Interests</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Adventure Travel</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Art And Culture</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Wildlife And Nature</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Family Holidays</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Food And Drink</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-media">
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/twitter.svg" class="icon" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/facebook.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/instagram.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/linkedin.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="/static/assets/img/social-media/youtube.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!--Footer-->

<div class="arrow-up"><i><</i></div>


<script src="/static/assets/js/main.js"></script>
</body>
</html>