<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotels | Morey - Tour and Travel</title>
    <link rel="icon" type="image/png" href="assets/img/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

<!--Header-->
<header>
    <div class="container">
        <nav>
            <div class="nav-logo">
                <img src="assets/img/logo.svg" alt="">
            </div>
            <div class="nav-right">
                <div class="nav-close-icon"></div>
                <ul class="nav-menu">
                    <li class="nav-item ">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="hotels.html" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a href="transport.html" class="nav-link">Transport</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                </ul>
                <div class="nav-form">
                    <a href="login.html" class="btn btn-login">Login</a>
                    <a href="register.html" class="btn btn-register">Register</a>
                </div>
            </div>
            <div class="hamburger-menu-wrap">
                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--End Header-->

<!-- Hero -->
<section class="section">
    <div class="container">
        <div class="hero-content">
            <!-- <div class="hero-form">
                <h1 class="hero-title">Explore and Travel</h1>
                <h4 class="hero-subtitle">Holiday finder</h4>
                <form >
                    <div class="form-groups">
                        <div class="form-control">
                            <div class="custom-select-wrapper">
                                <div class="custom-select">
                                    <div class="custom-select__trigger"><span>Location</span>
                                        <div class="arrow"></div>
                                    </div>
                                    <div class="custom-options">
                                        <span class="custom-option selected" data-value="">Location</span>
                                        <span class="custom-option" data-value="paris">Paris</span>
                                        <span class="custom-option" data-value="istanbul">Istanbul</span>
                                        <span class="custom-option" data-value="newyork">Newyork</span>
                                        <span class="custom-option" data-value="london">London</span>
                                        <span class="custom-option" data-value="tokyo">Tokyo</span>
                                        <span class="custom-option" data-value="venice">Venice</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <div class="custom-select-wrapper">
                                <div class="custom-select">
                                    <div class="custom-select__trigger"><span>Activity</span>
                                        <div class="arrow"></div>
                                    </div>
                                    <div class="custom-options">
                                        <span class="custom-option selected" data-value="">Activity</span>
                                        <span class="custom-option" data-value="Cycling + Mountain Biking">Cycling + Mountain Biking</span>
                                        <span class="custom-option" data-value="Camping">Camping</span>
                                        <span class="custom-option" data-value="Food Tourism">Food Tourism</span>
                                        <span class="custom-option" data-value="Motorcycle Touring">Motorcycle Touring</span>
                                        <span class="custom-option" data-value="Road Touring">Road Touring</span>
                                        <span class="custom-option" data-value="Dirt Bike Touring">Dirt Bike Touring</span>
                                        <span class="custom-option" data-value="Wine tourism">Wine tourism</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <div class="custom-select-wrapper">
                                <div class="custom-select">
                                    <div class="custom-select__trigger"><span>Grade</span>
                                        <div class="arrow"></div>
                                    </div>
                                    <div class="custom-options">
                                        <span class="custom-option selected" data-value="Grade">Grade</span>
                                        <span class="custom-option" data-value="Tourist">Tourist</span>
                                        <span class="custom-option" data-value="Superior Tourist">Superior Tourist	</span>
                                        <span class="custom-option" data-value="Standard">Standard	</span>
                                        <span class="custom-option" data-value="Superior Standard">Superior Standard	</span>
                                        <span class="custom-option" data-value="Comfort">Comfort</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <div class="date-picker">
                                <div class="selected-date"></div>
                                <div class="dates">
                                    <div class="month">
                                        <div class="arrows prev-mth">&lt;</div>
                                        <div class="mth"></div>
                                        <div class="arrows next-mth">&gt;</div>
                                    </div>
                                    <div class="days"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-explore">Explore</button>
                </form>
            </div>
            <div class="hero-img">
                <img src="assets/img/hero.jpg" alt="">
            </div> -->
            <p class="title is-1">Hotels</p>
        </div>
        <br>
        <form >
            <div class="form-groups">
                <div class="form-control">
                    <div class="custom-select-wrapper">
                        <div class="custom-select">
                            <div class="custom-select__trigger"><span>Location</span>
                                <div class="arrow"><</div>
                            </div>
                            <div class="custom-options">
                                <span class="custom-option selected" data-value="">Location</span>
                                <span class="custom-option" data-value="paris">Paris</span>
                                <span class="custom-option" data-value="istanbul">Istanbul</span>
                                <span class="custom-option" data-value="newyork">Newyork</span>
                                <span class="custom-option" data-value="london">London</span>
                                <span class="custom-option" data-value="tokyo">Tokyo</span>
                                <span class="custom-option" data-value="venice">Venice</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <div class="custom-select-wrapper">
                        <div class="custom-select">
                            <div class="custom-select__trigger"><span>Price Range</span>
                                <div class="arrow"><</div>
                            </div>
                            <div class="custom-options">
                                <span class="custom-option selected" data-value="">Activity</span>
                                <span class="custom-option" data-value="Cycling + Mountain Biking">Cycling + Mountain Biking</span>
                                <span class="custom-option" data-value="Camping">Camping</span>
                                <span class="custom-option" data-value="Food Tourism">Food Tourism</span>
                                <span class="custom-option" data-value="Motorcycle Touring">Motorcycle Touring</span>
                                <span class="custom-option" data-value="Road Touring">Road Touring</span>
                                <span class="custom-option" data-value="Dirt Bike Touring">Dirt Bike Touring</span>
                                <span class="custom-option" data-value="Wine tourism">Wine tourism</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-explore">Search</button>
        </form>
        <hr>
        <div>
            <div class="box">
                <!-- <div class="feature-card">
                    <img src="assets/img/features/skadar.jpg" alt="" class="feature-img" style="max-width: 20%;">
                    <div class="feature-card-desc">
                        <span class="location">Skadar</span>
                        <span class="country">Montenegro</span>
                    </div>
                </div> -->

                    <!-- <img style="float: left; max-width: 20%;" src="assets/img/features/skadar.jpg" alt="" class="feature-img">

                    <div class="section-text">
                        <h3 class="section-title">A new way to explore the world </h3>
                        <p class="p-description">For decades travellers have reached for Lonely Planet books when looking to plan and execute their perfect
                            trip, but now, they can also let Lonely Planet Experiences lead the way</p>
                        <a href="#" class="btn btn-explore">Learn more</a>
                    </div> -->
                    <div class="section-content">
                        <div class="">
                            <img style="max-width: 80%; width: 350px;" src="https://cdn.galaxy.tf/thumb/sizeW2000/uploads/2s/cms_image/001/588/680/1588680312_5eb15678e6e94-thumb.jpg" alt="">
                        </div>
                        <div class="">
                            <h3 class="section-title">Sunway Putra Hotel</h3>
                            <hr>
                            <p class="p-description">
                                Location: 100 Jalan Putra, Chowkit / Putra WTC, Kuala Lumpur, Malaysia, 50350 <br>
                                Phone: +60 3-4040 9888 <br>
                                Price Per Night: RM 300.0 <br>
                            </p>
                            <!-- <a href="#" class="btn btn-explore">Learn more</a> -->
                            <button class="button is-large" style="background-color: #fb8f1d; color: #ffffff;">Book</button>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Hero -->




<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-text">
                <img src="assets/img/logo.svg" alt="" class="footer-icon">
                <p class="footer-desc">
                    Plan and book your perfect trip with
                    expert advice, travel tips destination
                    information from us
                </p>
                <p class="copyright">©2020 Thousand Sunny. All rights reserved</p>
            </div>
            <div class="nav-footer">
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Destinations</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Africa</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Antarctica</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Asia</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Europe</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">America</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Shop</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Destination Guides</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Pictorial & Gifts</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Special Offers</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Delivery Times</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-footer-col">
                    <h4 class="nav-footer-title">Interests</h4>
                    <ul class="nav-footer-links">
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Adventure Travel</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Art And Culture</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Wildlife And Nature</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Family Holidays</a>
                        </li>
                        <li class="nav-footer-item">
                            <a href="#" class="nav-footer-link">Food And Drink</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social-media">
                <a href="#" class="social-link">
                    <img src="assets/img/social-media/twitter.svg" class="icon" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="assets/img/social-media/facebook.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="assets/img/social-media/instagram.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="assets/img/social-media/linkedin.svg" alt="">
                </a>
                <a href="#" class="social-link">
                    <img src="assets/img/social-media/youtube.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!--Footer-->

<div class="arrow-up"><i><</i></div>


<script src="assets/js/main.js"></script>
</body>
</html>